<div class="container">
  <div class="createIdeaButton">
    <button type="button" id="createIdeaButton">New Idea</button>
  </div>
  <div class="fetchIdeasButton">
    <button type="button" id="fetchIdeasButton">Fetch Ideas!</button>
  </div>
  <div class="ideas">
  </div>
</div>
